<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="col-9">
        @RenderBody()
    </div>

    <footer>Thanks For Visiting Our Site!</footer>
</body>
</html>

@* I added Bootstrap on this page that I learned from the text book *@